.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #4CAF50;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  padding: 0.5rem 2rem; /*  Was a 1 REM  */
}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-brand a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.icon-placeholder {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-color: #ddd;
}


.login-button {
  background-color: #4CAF50;
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 0.9rem;
}

.login-button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.3rem 0.5rem;
  }

  .navbar-brand {
    font-size: 1rem;
  }

  .login-button {
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
  }
}
