<nav class="navbar">
  <div class="navbar-brand">
    <a [routerLink]="'/'" [ngClass]="{'active': isActive('/')}">
      TrailBuddy
    </a>
  </div>
  <div class="navbar-menu">
    <a [routerLink]="'/join-a-group'" class="nav-button join-group-button" [ngClass]="{'active': isActive('/join-a-group')}">Find Group</a>
    <a [routerLink]="'/my-events'" class="nav-button my-events-button" [ngClass]="{'active': isActive('/my-events')}">My Events</a>
    <a [routerLink]="'/host-event'" class="nav-button host-event-button" [ngClass]="{'active': isActive('/host-event')}">Create Event</a>
    <a *ngIf="!isLoggedIn" [routerLink]="'/login'" class="nav-button login-button" [ngClass]="{'active': isActive('/login')}">Sign In</a>
    <a *ngIf="isLoggedIn" (click)="signOut()" class="nav-button login-button">Sign Out</a>
  </div>
</nav>
